@use "@/assets/styles/main.scss" as *;
//---------------------------------------------------------------------------------------------//
//========================================= home ==============================================//
//---------------------------------------------------------------------------------------------//

#home {
  @extend .parent;
  @extend .margin-global;
  display: flex;
  justify-content: flex-start;
  position: relative; 
  padding-bottom: 0px!important;

  @include media(max, 960px){
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 0px!important;
  }

  .section-form{
    max-width: 50%;
    padding-inline: 30px;
    position: relative;
    z-index: 99;

    @include media(max, 960px){
      max-width: 100%;
      padding-top: 30px;
      padding-inline: 30px;
      // height: 1070px;
    }

    .delete-mobile{
      @include media(max, 960px){
        display: none;
      }
    }

    .tcenter-mobile{
      @include media(max, 960px){
        text-align: center;
      }
    }

    h4{
      @include media(max, 960px){
        font-size: 18px;
        margin-bottom: 0px;
      }
    }

    p{
      @include media(max, 960px){
        font-size: 13px;
      }
    }

    .primary-span{
      color: $primary;
      font-weight: 700;

      @include media(max, 960px){
        font-size: 24px;
      }
    }

    .italic{
      font-style: italic;
    }

    .btn{
      background-color: $primary!important;
      border-radius: 5px!important;
    }

    ::placeholder{
      color: #000;
      opacity: 1;
    }

    .v-form{
      @include media(max, 960px){
        display: flex;
        flex-direction: column;
        padding-inline: 30px;

        .v-btn{
          width: 200px!important;
          justify-self: center;
          align-self: center;
        }
      }
    }
  }

  .section-prueba{
    display: none;

    @include media(max, 960px){
      display: block;
      margin-inline: calc(50% - 50vw);
      margin-top: -15px;
  
      img{
        width: 100vw;
        height: 60vh;
      }
    }
  }

  .img-bg{
    width: 40vw;
    height: 100vh;
    position: absolute;
    right: 0;

    @include media(max, 960px){
      bottom: 0;
      height: 720px;
      width: 100vw;     
      display: none; 
    }

    // @include media(max, 660px){
    //   height: 40vh;
    // }

    // @include media(max, 380px){
    //   height: 30vh;
    // }
  }

  @include media(max, 960px){
    .input{
      max-height: 30px!important;
      height: 30px;
      margin-bottom: 5px;
  
      .v-field{
        height: 30px!important;
        max-height: 30px!important;
        min-height: 1px!important;
      }
  
      input{
        height: 30px!important;
        max-height: 30px!important;
        min-height: 1px!important;
        margin-top: 0px;
      }
  
      .v-field__input{
        padding-left: 15px;
        padding-block: 5px;
        height: 30px!important;
        max-height: 30px!important;
        min-height: 1px!important;
      }
    }
  }

  .btn-mobile{
    @include media(max, 960px){
      margin-top: 15px;
    }
  }
}


.snack-green{
  background-color: #FFF!important;
  border: 3px solid $primary!important;
  color: #000!important;

  .v-overlay__content{
    .v-snackbar__content{
      color: #000!important;
    }
  }
}

.snack-error{
  background-color: #FFF!important;
  border: 2px solid $error!important;
  color: #000!important;

  .v-overlay__content{
    .v-snackbar__content{
      color: #000!important;
    }
  }
}

.v-messages__message{
  @include media(max, 960px){
    display: none;
  }
}